body a {
  text-decoration: none;
}
.green {
  color: #81c408;
  font-weight: 700;
}
/* ////////////////////////////////nav_top_var ////////////////////////////*/
.bg_top_var {
  background-color: #81c408;
  padding: 8px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 60px;
}
/* //////////////////////////////Navbar & Hero Start ///////////////////////////////////*/
.hero-header {
  background-image: url(../img/hero-img.jpg);
  margin-top: 150px;
  background-position: center;
  background-size: cover;
}
/* @media (max-width: 900px) {
  .nav_icon {
    display: flex;
    flex-direction: column;
  }
} */
