body a {
  text-decoration: none;
}
.green {
  color: #81c408;
  font-weight: 700;
}
.green_1 {
  background-color: #81c408;
}
/* ////////////////////////////////nav_top_var ////////////////////////////*/
.bg_top_var {
  background-color: #81c408;
  padding: 8px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 60px;
}
/* //////////////////////////////Navbar & Hero Start ///////////////////////////////////*/
.hero-header {
  background-image: url(../img/hero-img.jpg);
  margin-top: 150px;
  background-position: center;
  background-size: cover;
}
/* @media (max-width: 900px) {
  .nav_icon {
    display: flex;
    flex-direction: column;
  }
} */
/*///////////////////////////////////// our organic products////////////////////// */
.fruite-item:hover {
  /* transform: translateY(-10px); */
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.4);
}
.fruite-item {
  position: relative;

  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.fruite-img img {
  display: block;
  transition: transform 0.5s ease;
}
.fruite-img:hover img {
  transform: scale(1.1);
}
.btn:hover {
  background-color: #ffc107;
  color: white;
}
.btn {
  color: #81c408;
}
/*///////////////////////////////////////////////////// Featurs Start /////////////////////////////////////////////////*/
.service-content {
  position: relative;
  margin-top: -50px;
  margin-bottom: 60px;
}
